<section class="mobile-nav show-for-small-only">
    <a class="left-menu-btn left" href="#off-canvas-menu-left"><span class="hit-area"><i class="fi-list"></i></span></a>
    <a class="right-menu-btn right" href="#"><span class="hit-area"><i class="fi-results-demographics"></span></i></a>
    <span class="logo">
        <span class="hit-area">
            <select class="site-switcher">
                <option value="husker">Checkpoint</option>
                <option value="starbuck">Westlaw NZ</option>
                <option value="hotdog">Westlaw USA</option>
                <option value="apollo">Westlaw CAN</option>
            </select>
        </span>
    </span>
</section>

<a class="logo show-for-medium-up" href="/"><img src="{{ "/img/content/logo.png" | prepend: site.assets }}" alt=""></a>

<div class="row is-full-width">
  <div class="columns">
    <!-- <a href="#"><img src="http://placehold.it/300x100/4768B0/ffffff&text=Westlaw Au" alt=""></a> -->
    <!-- <select>
      <option value="husker">Husker</option>
      <option value="starbuck">Starbuck</option>
      <option value="hotdog">Hot Dog</option>
      <option value="apollo">Apollo</option>
    </select> -->
  </div>
</div>

{% comment %}
<script>
  window.onload = function() {
    $('.left-menu-btn').click(function(){
        $('.lv-page').css(
        {
          "position": "absolute",
          "left": "325px"

        });
    });

    $('#temp-return').click(function(){
        // $('.lv-page').animate({left: "0"}, 300, 'linear', function(){});
        alert('wot');
    });

  };
</script>
{% endcomment %}