<ul id="fixedScroll" class="tabs text-center" data-tab role="tablist">
  <li class="tab-title active" role="presentational">
    <a href="#details" role="tab" tabindex="0" aria-selected="true" controls="panel2-1"><i class="fi-eye"></i> Details</a>
  </li>
  <li class="tab-title" role="presentational">
    <a href="#pins" role="tab" tabindex="0" aria-selected="false" controls="panel2-2"><i class="fi-flag"></i> Pins</a>
  </li>
  <li class="tab-title" role="presentational">
    <a href="#collapse" role="tab" tabindex="0" aria-selected="false" controls="panel2-3"><i class="fi-arrow-right"></i> Collapse</a>
  </li>
</ul>

<div class="tabs-content">
  <section role="tabpanel" aria-hidden="false" class="content active" id="details">
    <h3>Tips for Searching</h3>
    <p>Weslaw supports the use of a number of different connectors. The most common are <strong>AND</strong> and <strong>OR</strong>. By default if multiple terms are entered without connectors, Westlaw will automatically insert the <strong>'&amp;' (AND)</strong> connector in between each term.</p>
    <p>Usable connectors, their symbols and examples are available below.</p>
    <p><a href="#" class="button small radius knockout">See All Connectors</a></p>
    <hr>
    <h3>Need Assistance?</h3>
    <p>Don't hesitate to call our Customer Help Desk on the number below.</p>
    <p><a href="#" class="button small radius knockout">1800 020 548</a></p>
  </section>
  <section role="tabpanel" aria-hidden="true" class="content" id="pins">

    <!-- BLOCK -->

        {% capture body_text %}
            <ul>
                <li><a href="#">Contact Details</a></li>
                <li><a href="#">Account Management Details</a></li>
                <li><a href="#">Thomson Reuters Website (AU)</a></li>
                <li><a href="#">Thomson Reuters Website (NZ)</a></li>
            </ul>
        {% endcapture %}
        {% include dash_block.html header="My Pins" body=body_text %}

  </section>
</div>

{% comment %}
<script>
  window.onload = function() {
    var $scrollingDiv = $("#fixedScroll");

    $(".content-scroller").scroll(function(){
      console.log("hey");
      $scrollingDiv
        .stop()
        .animate({"top": ($(this).scrollTop()) + "px"}, "slow" );
    });
  };
</script>
{% endcomment %}