---
layout: master
---

<div class="stage-table">

    <!-- NAVIGATION -->
    <nav class="navigation {{ page.nav_state }}">
        {% include navigation.html %}
    </nav>

    <!-- CONTENT AREA -->
    <div class="content-area">
        <div class="content-scroller">

            <!-- MAIN -->
            <main class="main">
                {{ content }}
            </main>

            <!-- SIDEBAR -->
            <aside class="sidebar {{ page.sidebar_state }}">
                <div class="sidebar-internal">
                    {% include sidebar.html %}
                </div>
            </aside>

            <!-- FOOTER -->
            <footer class="footer hide-for-medium-up">
                {% include footer.html %}
            </footer>

        </div> <!-- .content-scroller -->
    </div> <!-- .content-area -->

</div> <!-- .stage-internal -->